<%= link_to 'Agregar articulos', new_article_path %>
<h1>Articulos:</h1>
<% @articles.each do |article| %>
	<h1><%= link_to article.title, article%></h1>
	<p><%=article.body%> - <%= link_to "Eliminar", article, class:"red", method: :delete%></p>
<%end%>