html, body, textarea{
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}
.btn{
	border-color: #E74C3C;
    background: transparent;
    color: #E74C3C;
        position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 12px;
    min-width: 52px;
    min-height: 47px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 42px;
    cursor: pointer;
    margin-top: 10px;
}
.red{
	color: #E74C3C !important;
}
.blue{
	color: #1976d2 !important;
}
.be-red{
	background: #E74C3C;
}
.white{
	color: #ECF0F1;
}
a.red, input.btn
{
	color: #E74C3C !important;
}
.large-padding{
	padding: 8px 5px;
}
.no-list{
	list-style-type: none;
}
a, a:visited{
	color: inherit;
	text-decoration: none;
}
.no-margin{
	margin: 0px;
}
#logo{
	font-size: 1.2em;
}
.field, .top-space, .actions{
	margin-top: 1em;
}
.form-control{
	border: none;
	border-bottom: 1px solid;
	outline: none;
	width: 100%;
	display: block;
	padding: 10px 0px;
	font-size: 1.2em;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.article-height{
	height: 100px;
}
.background-cover{
	background-position: center;
	background-size: cover;
}
.bottom-space{
	margin-bottom: 2em;
}
.ligth-border{

}
.be-big{
	font-size: 2em;
}
.text-right{
	text-align: right;
}
.be-small{
	font-size: 12px;
}
.underline{
	text-decoration: underline;
}
.text-justify{
	text-align: justify;
}
.grey{
	color: #616161;
}